.header {
  display: grid;
  color: white;
  padding: 10px 10px;

  grid:
    "prev-button next-button"
    "pokemon-name pokemon-name"/ 1fr 1fr;
  justify-content: center;
  gap: 10px;

  .header-button {
    border: 0;
    height: 40px;
  }

  h2 {
    text-align: center;
    grid-area: pokemon-name;
  }
}

.main {
  color: white;
  padding: 50px 150px;
}

.pokemonInfoContainer {
  display: grid;
  grid:
    "pokemonImage infoTable"
    "pokemonImage typeInfoContainer";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 800px) {
    grid:
      "pokemonImage"
      "infoTable"
      "typeInfoContainer";
  }

  .pokemonImage {
    background: #f2f2f2;
    grid-area: pokemonImage;
    width: 100%;
  }
  .pokemonInfoTable {
    grid-area: infoTable;
    background: var(--table-info);
    padding: 20px;
    gap: 10px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }
  .pokemonInfoTable p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .pokemonInfoTable span {
    color: black;
    font-weight: 500;
  }
  .showMoreAboutAbilityButton {
    background: #000;
  }

  .abilityDescription {
    background: #000;
    color: white;
    display: grid;
    grid-template:
      "subTitle closeButton"
      "ability ability"
      "description description";
  }

  .pokemonTypeContainer {
    grid-area: typeInfoContainer;
  }
}
